.galaxy-display {
    color: #BCB2A1;
}
ul {
    position: relative;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
}
.planet {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    transition: padding 0.5s;

    /* Cool background gradient */
    background-image: -moz-radial-gradient(20% 20% 45deg, circle cover, #A3ADC2 0%, #474C55 100%, #272A2F 95%);
	background-image: -webkit-radial-gradient(20% 20%, circle cover, #A3ADC2, #474C55);
	background-image: radial-gradient(20% 20% 45deg, circle cover, #A3ADC2 0%, #474C55 100%, #272A2F 95%);
}

.planet-popup {
    width: 110px;
    border-radius: 10px;
    padding: 10px;
    color: #1C1A18;
    
    background-color: antiquewhite;
}

/* Temporarily not needed */
.planet-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 25%;
    top: 25%;

    background-color: antiquewhite;
    
}

.selected {
    box-shadow: 0px 0px 20px 10px rgba(200, 214, 240, 0.8);
    transition: padding 0.5s;
}
