<div class="galaxy-display">
  <!--<p *ngIf="selectedHeadline"> {{selectedHeadline.title}} </p>-->
  <ul *ngIf="headlines">
    <!-- A headline Planet -->
    <li *ngFor="let headline of headlines; let i = index;" 
        class="planet"
        [attr.id]="'planet-' + i"
        [style.left]="randomCoordinates[i].x + 'px'"
        [style.top]="randomCoordinates[i].y + 'px'"
        [style.width]="(30 * headline.views / maximumViews) + 'vh'"
        [style.height]="(30 * headline.views / maximumViews) + 'vh'"
        [class.selected]="headline == selectedHeadline"
        [style.padding]="(headline == selectedHeadline) ? (20 * sizeMultiplier + 'px') : 0"
        (mouseover)="onPlanetHover(headline)"
        (mouseleave)="onPlanetUnhover()">

      <app-planet-overview
        *ngIf="headline == selectedHeadline"
        [article]="article">
      </app-planet-overview>


    </li>

  </ul>
</div>