<article class="wrapper">

  <section class="main">
    <div class="article-content">
      <span class="article-photo"></span>
      <span class="article-title">{{article.content.title}}</span>
    </div>
    <div class="buttons">
      <button>Share</button>
      <button (click)="showMessage()">Messages</button>
    </div>
  </section>

  <section class="message" *ngIf="isMessageShown">
    <section class="friend-list"></section>
    <section class="message-content">
      
    </section>
    
  </section>

</article>


