.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.logo {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 300px;
    text-align: left;
    align-self: flex-start;
    color: #C9C8C3;
    text-transform: uppercase;
}
.logo:hover {
    cursor: pointer;
}
.main-logo {
    font-size: 2em;
}
.slogan {
    font-size: 1em;
}

nav {
    height: 100%;
    align-self: flex-end;   
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 100%;
}
ul li{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 150px;
    color: #C9C8C3;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
ul li:hover {
    transition: background-color 0.3s;
    background-color: #47443D;
    cursor: pointer;
}
.selected {
    background-color: rgba(71, 68, 61, 0.5);
}

li.friends-icon {
    background-color: #C9C8C3;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    background-size: 50px 50px;
    background-image: url('assets/friends-icon.png');
}